.short-space, .long-space
  {
      height: 16px;
      border: 0px;
      padding: 0px;
      margin: 7px;
      display: inline-block;
  }

ul {
    list-style-type: none;
}

li {
    width: 60px;
    display: inline;
}

a {
    font-family: arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    opacity: .75;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.searchbox { 
    background-color: pink;
}
