/** Stylesheet for Google Homepage **/

/* menu divs (blocks of menu items to the left and right, space in the center */

.block-left, .block-right, .block-center, .menu-left-side, .menu-right-side {
    display: inline-block;
}

.menu-left-side {
    padding-left: 15px;
}

.menu-right-side {
    padding-right: 15px;
    margin: 7px 0 0 10px;
}

.block-left {
    text-align: left;
}

.block-center {
    width: 60%;
}

.block-right {
    text-align: right;
}

/* */

.headspace {
    top: 0px;
    left:0px;
    right:0px;
    width: 100%;
}

.google-holder {
    margin-top: 47px;
    width: 1425px;
    height: 233px;
}

.search-holder {
    height: 140px;
}

.grey-box {
    height: 20px;
    border: 0px;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    width: 60px;
    display: inline;
}

a { 
    width: 33.9833px;
    height: 15px;
    font-family: arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    opacity: .75;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.searchbox { 
    color: grey;
    border-radius: 35px;
    padding: 5px 8px 0px 16px;
    padding-left: 14px;
    width: 582px;
    height: 44px;
    box-sizing: border-box;
}

.searchbox:hover {

}
